body{
background-color:rgb(128,128,128);


}
div{
background-color:rgb(51,51,51);
border-radius:10px;
padding:1px;
}
label{
color:white;
text-align: center;
}
.R{
text-align: center;
width:80%;
}
.T2{
color:rgb(217,217,217);
}
marquee {
color:rgb(217,217,217);}
checkbox{
text:;}
.T5{
    color:rgb(217,217,217);
    text-align:left corner;
}
.Tt{
    color:rgb(217,217,217);
}
h1{
    text-align: center;
    color:rgb(217,217,217);
}
.dj{
    color:rgb(128,128,128)
}
h1{
    font-size:2rem;
    font-style:bold;
}