body{
background-color:beige;
background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJDXzRYgzf6dA9MfbXNAUHeCiyA2OaOJC8f6E0uQPixiUb5frmad2LZLb8&s=10);

}
div{
background-color:#800000;
border-radius:10px;
padding:1px;
}
label{
color:white;
text-align: center;
}
input{
text-align: center;
}
.T2{
color:#800000;
}
marquee {
color:#800000;}
